---
name: Pylint

on:
  push:
    branches: [main]
    paths:
      - "**/.py"

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          requirements_file=$(find . -name requirements.txt)
          pip install -r "$requirements_file"
          pip install pylint
      - name: Analysing the code with pylint
        run: |
          PYTHONPATH=. pylint --disable=duplicate-code $(git ls-files '*.py')
